<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{example.countryName}}</h5>
          <p>
            <strong>Saved Search</strong> {{example.id}}
          </p>          

          <p>
            <strong>Median Monthlhy Wage</strong>: {{example.medianwage}}
          </p>

          <p>
            <strong>Big Mac Index</strong>: {{example.bigmac_index}}
          </p>

          <p>
            <strong>GINI</strong>: {{example.gini}}
          </p>

          <p>
            <strong>Life Expectancy</strong>: {{example.life_expectancy}}
          </p>

          <p>
            <strong>Murder Rate</strong>: {{example.murder_rate}}
          </p>

          <p>
            <strong>Death Rate</strong>: {{example.death_rate}}
          </p>

          <p>
            <strong>Happiness Index</strong>: {{example.appiness_index}}
          </p>

          <p>
            <strong>Corruption Index</strong>: {{example.corruption_index}}
          </p>

          <p>
            <strong>Literacy Index</strong>: {{example.literacy_rate}}
          </p>

          <p>
            <strong>Yearly Total Tax Revenue</strong>: {{example.tax_revenue_total}}
          </p>

          <p>
            <strong>Median Age</strong>: {{example.median_age}}
          </p>

          <p>
            <a href="/">← Back To Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>